In [ ]:
import matplotlib.pyplot as plt

from datetime import datetime, timedelta
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
import pandas as pd
import numpy as np

Import Data

In [ ]:
county_cases_data = pd.read_csv("https://rajstorage11.blob.core.windows.net/test/us-counties.csv")
unemployment_data = pd.read_csv("https://rajstorage11.blob.core.windows.net/test/Unemployment.csv", index_col="FIPStxt")
county_area_data = pd.read_csv("https://rajstorage11.blob.core.windows.net/test/Counties.csv", index_col="GEOID")
population_data = pd.read_csv("https://rajstorage11.blob.core.windows.net/test/PopulationEstimates.csv", index_col="FIPStxt", encoding='latin-1')

In [ ]:
county_cases_data.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [ ]:
unemployment_data.head()

        Stabr  ... Med_HH_Income_Percent_of_State_Total_2018
FIPStxt        ...
0          US  ...                                       NaN
1000       AL  ...                                     100.0
1001       AL  ...                                     119.0
1003       AL  ...                                     115.5
1005       AL  ...                                      68.9

[5 rows x 87 columns]

Assign the starting day of the virus spread to every FIP.

In [ ]:
fips_case_start = county_cases_data.reset_index()
fips_case_start = fips_case_start[fips_case_start["cases"] > 0].groupby("fips").min().rename(columns={"date": "day0"})
fips_case_start["day0"] = fips_case_start["day0"].apply(lambda x: datetime.strptime(x, "%Y-%m-%d"))
fips_case_start.head()

        index       day0   county    state  cases  deaths
fips
1001.0   9480 2020-03-24  Autauga  Alabama      1       0
1003.0   1934 2020-03-14  Baldwin  Alabama      1       0
1005.0  28389 2020-04-03  Barbour  Alabama      1       0
1007.0  19658 2020-03-30     Bibb  Alabama      2       0
1009.0  10834 2020-03-25   Blount  Alabama      1       0

Establish FIPs Case History

In [ ]:
fips_case_history = county_cases_data[["date", "fips", "county", "state", "cases", "deaths"]]
fips_case_history.head()

         date     fips     county       state  cases  deaths
0  2020-01-21  53061.0  Snohomish  Washington      1       0
1  2020-01-22  53061.0  Snohomish  Washington      1       0
2  2020-01-23  53061.0  Snohomish  Washington      1       0
3  2020-01-24  17031.0       Cook    Illinois      1       0
4  2020-01-24  53061.0  Snohomish  Washington      1       0

In [ ]:
fips_case_history_extra = fips_case_history.copy()
fips_case_history_extra = fips_case_history_extra.join(fips_case_start[["day0"]], how="inner", on="fips")
fips_case_history_extra["date"] = fips_case_history_extra["date"].apply(lambda x: datetime.strptime(x, "%Y-%m-%d"))
fips_case_history_extra["days_spreading"] = fips_case_history_extra["date"] - fips_case_history_extra["day0"]
fips_case_history_extra["days_spreading"] = fips_case_history_extra["days_spreading"].apply(lambda x: x.days)
fips_case_history_extra.head()

        date     fips     county  ... deaths       day0  days_spreading
0 2020-01-21  53061.0  Snohomish  ...      0 2020-01-21               0
1 2020-01-22  53061.0  Snohomish  ...      0 2020-01-21               1
2 2020-01-23  53061.0  Snohomish  ...      0 2020-01-21               2
4 2020-01-24  53061.0  Snohomish  ...      0 2020-01-21               3
7 2020-01-25  53061.0  Snohomish  ...      0 2020-01-21               4

[5 rows x 8 columns]

**Estimate R Values - SIR Model**

Add Each Fips to dictionary

In [ ]:
fips_ind = fips_case_history_extra[["date","fips","county","state","cases","deaths","days_spreading"]]
fips_ind = fips_ind.groupby("fips").filter(lambda x : len(x)>50)
Uniquefips = fips_ind.fips.unique()
DataFrameDict = {elem : pd.DataFrame for elem in Uniquefips}
for key in DataFrameDict.keys():
    DataFrameDict[key] = fips_ind[:][fips_ind.fips == key]

Run SIR Model - Estimate R values from gradient of infection curve

In [ ]:
from scipy.integrate import odeint
import numpy as np

for key in DataFrameDict.keys():

  #The total population of the county
  N = DataFrameDict[key].iloc[[-1]][["cases"]].astype(int).values[0][0]
  #The initial value of infected and removed population
  I0, R0 = 1, 0
  #Initial susceptible population
  S0 = N - I0 - R0
  beta = 0.142 # Use beta and gamma values from whole usa
  gamma = 0.056
  t = np.linspace(0, DataFrameDict[key].shape[0]+1, DataFrameDict[key].shape[0]+1)

  #ODE for SIR model
  def deriv(y, t, N, beta, gamma):
      S, I, R = y
      dSdt = -beta * S * I / N
      dIdt = beta * S * I / N - gamma * I
      dRdt = gamma * I
      return dSdt, dIdt, dRdt

  y0 = S0, I0, R0
  ret = odeint(deriv, y0, t, args=(N, beta, gamma))
  #Output for SIR model
  S, I, R = ret.T

  #Estimated R1 and R2 using slope 
  s2 = np.diff(I)/np.diff(t)
  s3 = s2*s2
  s2=(s2+2)/2
  DataFrameDict[key]['estimated_r_SIR1'] = s2
  DataFrameDict[key]['estimated_r_SIR2'] = s3

In [ ]:
DataFrameDict[1003].head()

           date    fips  ... estimated_r_SIR1 estimated_r_SIR2
1934 2020-03-14  1003.0  ...         1.044685         0.007987
2309 2020-03-15  1003.0  ...         1.048685         0.009481
2738 2020-03-16  1003.0  ...         1.053036         0.011251
3214 2020-03-17  1003.0  ...         1.057768         0.013348
3760 2020-03-18  1003.0  ...         1.062911         0.015831

[5 rows x 9 columns]

In [ ]:
county_case_history_r = pd.DataFrame()
for fips_code in DataFrameDict.keys():
  county_df = DataFrameDict[fips_code]
  county_case_history_r = county_case_history_r.append(county_df, ignore_index=True)

county_case_history_r.head()
county_case_history_r.nunique()

date                   142
fips                  2753
county                1648
state                   51
cases                 6619
deaths                1387
days_spreading         142
estimated_r_SIR1    174422
estimated_r_SIR2    174422
dtype: int64

**Estimate R Values - Timestep Ratio**

Function to estimate r from past cases

In [ ]:
def estimate_r_ratio(num_days):

  fips_r_base = fips_case_history_extra.copy()
  fips_r_base["date_delta"] = fips_r_base["date"].apply(lambda x: x+timedelta(days=num_days))
  fips_r_future = fips_r_base[["fips", "date", "cases", "county", "state"]].set_index(["fips", "date"], verify_integrity=True)

  fips_r_past = fips_r_base[["fips", "date", "cases","date_delta"]]
  fips_r_past = fips_r_past.rename(columns={"date": "from_date", "date_delta": "date", "cases": "past_cases"}).set_index(["fips", "date"])

  fips_r = fips_r_future.join(fips_r_past, on=["fips", "date"], how="inner")

  column_name = 'estimated_r_ratio{}'.format(num_days)
  fips_r["past_estimated_r"] = fips_r["cases"]/ fips_r["past_cases"]  # This estimates r for the past date

  fips_r_final = fips_r.copy().reset_index()
  fips_r_final = fips_r_final.drop('date',axis=1)
  fips_r_final  = fips_r_final.rename(columns={'from_date':'date','past_estimated_r':column_name})
  fips_r_final = fips_r_final.set_index(['fips','date'])
  return fips_r_final[column_name].to_frame()

In [ ]:
#Estimated R using the current and the past 14th day
estimated_r_ratio14 = estimate_r_ratio(14)
#Estimated R using the current and the past 8th day
estimated_r_ratio8 = estimate_r_ratio(8)
estimated_r_ratios = estimated_r_ratio14.join(estimated_r_ratio8)
estimated_r_ratios.tail(10)

                    estimated_r_ratio14  estimated_r_ratio8
fips    date
48377.0 2020-05-26                  2.0                 1.0
        2020-05-27                  2.0                 1.0
48229.0 2020-05-26                  4.0                 2.0
        2020-05-27                 11.0                 3.0
19053.0 2020-05-27                  3.0                 1.0
29137.0 2020-05-27                  1.5                 1.0
29203.0 2020-05-27                  6.0                 5.0
41037.0 2020-05-27                  1.0                 1.0
48383.0 2020-05-27                  2.0                 2.0
56045.0 2020-05-27                  1.0                 1.0

In [ ]:
county_case_history_r.head()

        date     fips  ... estimated_r_SIR1 estimated_r_SIR2
0 2020-01-21  53061.0  ...         1.044893         0.008062
1 2020-01-22  53061.0  ...         1.048949         0.009584
2 2020-01-23  53061.0  ...         1.053370         0.011393
3 2020-01-24  53061.0  ...         1.058190         0.013544
4 2020-01-25  53061.0  ...         1.063444         0.016100

[5 rows x 9 columns]

In [ ]:
county_case_history_final = county_case_history_r.join(estimated_r_ratios,on=['fips','date'],how='inner')
county_case_history_final.head()

        date     fips  ... estimated_r_ratio14 estimated_r_ratio8
0 2020-01-21  53061.0  ...                 1.0                1.0
1 2020-01-22  53061.0  ...                 1.0                1.0
2 2020-01-23  53061.0  ...                 1.0                1.0
3 2020-01-24  53061.0  ...                 1.0                1.0
4 2020-01-25  53061.0  ...                 1.0                1.0

[5 rows x 11 columns]

In [ ]:
# Export Estimated R Data
from google.colab import files

county_case_history_final_file = county_case_history_final.to_csv("county_case_history_final_file.csv")
files.download("county_case_history_final_file.csv")